@import "core/variables";
@import "components/buttons";
@import "components/typography";

body {
  margin: 0;
  padding: 0;
}

.header {
  background: url(../images/cover.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main_titles_box {
  margin-top: 284px;
}

.section_1 {
  background-color: $color-section1;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.section_2 {
  background-color: $color-section2;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  padding-bottom: 0px;
}

.ul_purchase {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.li_purchase {
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 184px;
}

.footer_principal_container {
  background-color: $color-footer;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column-reverse;
  height: 128px;
}

.footer {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

