@import "core/settings";

.website_title {
	text-transform: uppercase;
	color: white;
	font-size: 42px;
	line-height: 55px;
	font-family: 'Roboto', sans-serif;
}

.website_subtitle{
	color: white;
	font-size: 16px;
	line-height: 30px;
	font-family: 'Roboto', sans-serif;
}

.tips_title{
	color: #8ccbea;
	font-size: 14 px;
	font-family: 'Roboto', sans-serif;
}

.h4_titles{
	color: black;
	font-size: 24px;
	line-height: 30px;
	font-family: 'Roboto', sans-serif;
}

.section_1 {
  background-color: white;
}

.section_2 {
  background-color: #eff9ff;
}

.footer {
  background-color: #304268;
}
