<header class="header">
    <div class="hero">

        <div class="btn_hamburger">
            <div class="hamburger_line_icon_1"></div>
            <div class="hamburger_line_icon_2"></div>
            <div class="hamburger_line_icon_3"></div>
        </div>

        <div class="main_titles_box">
            <h1 class="website_title">
                <div>anonymous</div>
                <div>proxy</div>
            </h1>

            <h2 class="website_subtitle">In hac habitasse platea dictumst</h2>
        </div>


        <button class="btn_down_arrow"></button>
    </div>
</header>