<header class="header" id="header">

    <div class="hero">

        <a class="btn_hamburger" href="">
            <div class="hamburger_line_icon_1"></div>
            <div class="hamburger_line_icon_2"></div>
            <div class="hamburger_line_icon_3"></div>
        </a>

        <div class="main_titles_box">
            <h1 class="website_title">
                <div>anonymous</div>
                <div>proxy</div>
            </h1>

            <h2 class="website_subtitle">In hac habitasse platea dictumst</h2>
        </div>

        <div class="btn_down_arrow"><a href="#section_1"><img src="assets/images/ico-scroll-down.svg" alt=""></a></div>

    </div>

</header>