<main class="more-reasons_main">
    <section class="more-reasons_section1">
        <div class="more-reasons_paragraph-seats">
            <p>We know that you are already sure to purchase for <strong><em>row zero seats</em></strong> 😉</p>
            <p>Anyway, we remind you that by purchasing in our site, you are contributing to a special crowfunding that
                contributes to foundations which work to create <strong>Digital Diversity</strong>.</p>
        </div>

        <div class="photo-and-purchase">
            <div class="photo-and-purchase_item1"><img src="https://www.nasa.gov/sites/default/files/thumbnails/image/easley.jpg"
                    alt="Annie Easley" width="180px" class="photo_annie-easly"></div>
            <div class="box_annie-easly photo-and-purchase_item2">
                <p class="text_easly_purchase">Contribute as Annie Easly to create Digital Diversity!</p>
                <div class="btn_annie-easly"><a class="a_purchase-easly" href="">PURCHASE</a></div>
            </div>
        </div>
        <!--  src="../assets/images/easley.jpg"  -->
    </section>
</main>