<main class="_main">
    <section class="section_1">
        <div>
            <div>
                <h3 class="tips_title">Insomnia Tips</h3>
            </div>

            <div>
                <h4 class="h4_titles">Looking Through A Window</h4>
            </div>

            <div>
                <p>Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus.
                    Vivamus
                    semper sodales rutrum.</p>
            </div>

            <div class="btn_go"><a class="a_go" href="">Go</a></div>
        </div>
    </section>

    <section class="section_2">
        <div>
            <div>
                <h4 class="h4_titles">3 Reasons To Purchase</h4>
            </div>

            <ul class="ul_purchase">
                <li class="li_purchase">
                    <h5>Ut sed metus</h5>
                    <p class="box_little_text">Lorem ipsum dolor sit amet, consecteur.</p>
                </li>
                <li class="li_purchase">
                    <h5>Curabitur ac erat</h5>
                    <p class="box_little_text">Mauris mattis urna quis lorem molestie.</p>
                </li>
                <li class="li_purchase">
                    <h5>Morbi dictum</h5>
                    <p class="box_little_text"> Aliquam in dolor et dolor tincidunt.</p>
                </li>
                <li class="li_purchase">
                    <div class="btn_more-reasons"><a class="a_more_reasons" href="">More reasons</a></div>
                </li>
            </ul>

            <div></div>
        </div>

        <div class="btn_up_arrow"><a href="AQUÍ FALTA EL LINK"><img src="assets/images/ico-arrow.svg" alt=""></a></div>

    </section>
</main>