.btn_hamburger {
  position: fixed;
  top: 0;
  left: 0;
  width: 44px;
  height: 44px;
  background-color: $color-button_hamburger;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all ease 0.5s;
  &:hover {
    background-color: palegreen;
    border: 3px solid darkcyan;
    border-radius: 5px 20px;
    margin: 7px;
  }
  &:hover .a_go {
    color: orange;
    font-weight: bold;
  }
}

.hamburger_line_icon_1,
.hamburger_line_icon_2,
.hamburger_line_icon_3 {
  width: 20px;
  height: 2px;
  background-color: $color-primary;
  margin: 2px;
  line-height: 0;
}

/**
  I have found the way to make the hamburger icon here:
  https://www.w3schools.com/howto/howto_css_menu_icon.asp
  **/

.btn_go {
  cursor: pointer;
  margin-bottom: 45px;
  border: 2px solid $color-buttons;
  border-radius: 22.5px;
  color: $color-buttons;
  width: 76px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.5s;
  &:hover {
    background-color: $color-button_hamburger;
    border: 2px solid $color-button_hamburger;
  }
  &:hover .a_go {
    color: $color-primary;
    font-weight: bold;
    font-style: italic;
  }
}

.btn_more-reasons {
  cursor: pointer;
  margin: 0 auto;
  margin-top: 16px;
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  background-color: $color-buttons;
  color: $color-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 0.5s;
  &:hover {
    background-color: $color-button_hamburger;
  }
  &:hover .a_more_reasons {
    color: $color-primary;
    font-weight: bold;
    font-style: italic;
  }
}

.btn_down_arrow {
  cursor: pointer;
  position: absolute;
  left: 50%;
  bottom: 53px;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  z-index: 1;
  outline-color: $color-buttons;
  border: 3px solid transparent;
  transition: all ease 0.65s;
  &:hover {
    background-color: $color-primary;
    border: 3px solid $color-buttons;
  }
}

.btn_up_arrow {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  z-index: 1;
  outline-color: $color-buttons;
  position: relative;
  transform: translateY(50%);
  margin: 0 auto;
  border: 3px solid transparent;
  transition: all ease 0.65s;
  &:hover {
    background-color: $color-primary;
    border: 3px solid $color-buttons;
  }
}

.btn_annie-easly {
  left: 50%;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 16px;
  width: 130px;
  height: 45px;
  border-radius: 22.5px;
  background-color: $color-buttons;
  color: $color-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 0.5s;
  &:hover {
    background-color: $color-button_hamburger;
  }
  &:hover .a_purchase-easly {
    color: $color-primary;
    font-weight: bold;
    font-style: italic;
  }
}
