.website_title {
  text-transform: uppercase;
  color: $color-primary;
  font-size: 42px;
  line-height: 55px;
  font-family: $font-family_primary;
  font-weight: $font-weight_bold700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0;
}

.website_subtitle {
  color: $color-primary;
  font-size: 16px;
  line-height: 30px;
  font-family: $font-family_primary;
  font-weight: $font-weight_regular400;
  margin-top: 10px;
  margin-bottom: 40px;
}

.tips_title {
  color: $color-tertiary_section1-title;
  font-family: $font-family_primary;
  font-weight: $font-weight_regular400;
  font-size: 14 px;
  padding-top: 30px;
}

.p_section_1{
  color: $color-quaternary_section1-paragraph;
  font-size: 18px;
  font-family: $font-family_primary;
  font-weight: $font-weight_regular400;
}

.h4_titles {
  color: $color-secondary;
  font-size: 24px;
  line-height: 30px;
  font-family: $font-family_primary;
  font-weight: $font-weight_bold700;
  margin: 0 auto;
  margin-bottom: 35px;
}

.titles_center {
  display: flex;
  justify-content: center;
}

.a_go{
  text-decoration: none;
  color: $color-buttons;
  font-family: $font-family_primary;
  font-weight: $font-weight_medium500;
  font-size: 20px;
}

.a_more_reasons{
  text-decoration: none;
  color: $color-primary;
  font-family: $font-family_primary;
  font-weight: $font-weight_medium500;
  font-size: 20px;
}

.box_title{
  font-family: $font-family_primary;
  font-weight: $font-weight_bold700;
  font-size: 18px;
  color: $color-secondary;
  margin: 0;
}

.box_little_text{
  font-family: $font-family_primary;
  font-weight: $font-weight_regular400;
  font-size: 18px;
  color: $color-secondary;
  margin-top: 0;
  margin-bottom: 10px;
}

.copyright_text{
  font-family: $font-family_primary;
  font-weight: $font-weight_regular400;
  font-size: 14px;
  color: $color-primary;
}