.website_title {
  text-transform: uppercase;
  color: white;
  font-size: 42px;
  line-height: 55px;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.website_subtitle {
  color: white;
  font-size: 16px;
  line-height: 30px;
  font-family: "Roboto", sans-serif;
}

.tips_title {
  color: #8ccbea;
  font-family: "Roboto", sans-serif;
  font-size: 14 px;
}

.h4_titles {
  color: black;
  font-size: 24px;
  line-height: 30px;
  font-family: "Roboto", sans-serif;
}

.a_go{
  text-decoration: none;
  color: $color-buttons;
}

.a_more_reasons{
  text-decoration: none;
  color: white;
}

