/** Styles for tablet **/
@media all and (min-width: 768px) {
  .website_title {
    font-size: 80px;
    line-height: 110px;
  }

  .website_subtitle {
    font-size: 24px;
  }

  .h4_titles {
    font-size: 26px;
  }

  .p_section_1 {
    font-size: 20px;
  }

  .box_title {
    font-size: 24px;
  }

  .box_little_text {
    font-size: 20px;
  }

  .3-reasons{
    font-size: 26px;
  }

  .ul_purchase,
  .desktop_box_width-730px {
    padding-left: 40px;
    padding-right: 40px;
  }
  .li_purchase_1 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .li_purchase_2 {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .li_purchase_3 {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .title_header-2 {
    font-size: 2.5vh;
    padding-right: 85px;
  }

  .more-reasons_section1 {
    padding-top: 20vh;
  }

  .more-reasons_paragraph-seats {
    margin-bottom: 30px;
  }
}

/** Styles for desktop **/
@media all and (min-width: 1200px) {
  .header,
  .section_1 {
    padding: 0;
  }

  .website_title {
    font-size: 100px;
  }

  .website_subtitle {
    font-size: 24px;
  }

  .h4_titles {
    font-size: 32px;
  }

  .p_section_1 {
    font-size: 20px;
  }

  .box_title {
    font-size: 24px;
  }

  .box_little_text {
    font-size: 20px;
  }

  .desktop_box_width-730px {
    width: 730px;
    margin: 0 auto;
  }

  .3-reasons{
    font-size: 32px;
  }

  .ul_purchase {
    padding-left: 80px;
    padding-right: 80px;
  }

  .footer {
    padding-left: 275px;
    padding-right: 275px;
  }

  .title_header-2 {
    font-size: 3vh;
    padding-right: 85px;
  }
}
