$color-section1: white;
$color-section2: #eff9ff;
$color-footer: #304268;
$color-buttons: #f26002;
$color-button_hamburger: #0271bc;
$color-primary: white;
$color-secondary: black;
$color-tertiary_section1-title: #8ccbea;
$color-quaternary_section1-paragraph: #4a4a4a;

$font-family_primary: "Roboto", sans-serif;
$font-weight_regular400: 400;
$font-weight_medium500: 500;
$font-weight_bold700: 700;
