$color-section1: white;
$color-section2: #f6f7d4;
$color-footer: #be450d;
$color-buttons: #f26002;
$color-button_hamburger: #ada207;
$color-primary: white;
$color-secondary: black;
$color-tertiary_section1-title: #d64867;
$color-quaternary_section1-paragraph: #4a4a4a;

$font-family_primary: "Roboto", sans-serif;
$font-weight_regular400: 400;
$font-weight_medium500: 500;
$font-weight_bold700: 700;
